body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**!----------------- SECTION Reusable items ---------------*/
.para{
    font-family: "Poppins",sans-serif;
    color: gray;
    font-size: 15px;
}

.head-title{
    font-weight: bold;
    font-family: "Poppins",sans-serif;
}
/**!----------------- !SECTION Reusable items ---------------*/

/**!-----------------SECTION hero ---------------*/
.section-hero{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6) ),  url(../img/hero-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-main-title{
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.main-title{
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.hero-sub-title{
    font-family: "Poppins",sans-serif;
}

.hero-button{
    padding: 10px 40px;
    border-radius: 25px;
    border: 2px solid white;
    background: transparent;
    color: white;
    margin-top: 80px;  
    font-weight: bold;
}

.hero-button:hover{
    border: 2px solid rgb(2, 196, 176);
    background-color: rgb(2, 196, 176);
    transition: all ease-in-out 0.5s;

}
/**!----------------- !SECTION hero ---------------*/

/**!----------------- SECTION About us --------------*/
.section-about{
    margin-top: 80px;
}

.text-items__one{
    margin-top: -5px;
    margin-left: 15px;
}

.about-details__items{
    margin-top: 20px;
}

 a.link-title{
    text-decoration: none;
 }

 .link-title{
     color: rgb(68, 67, 67);
 }

 .link-title:hover{
    color:rgb(68, 67, 67);
 }

 .sub-para{
     font-family: "Poppins",sans-serif;
     font-size: 14px;
     color:gray;
 }

 .icon-type{
     border: 2px solid rgb(2, 196, 176);
     padding: 20px 10px;
     border-radius: 50%;
     margin: 10px 0;
     color: rgb(2, 196, 176);
 }

 
 .about-us-icon::before{
     border: 2px solid rgb(2, 196, 176);
     padding: 10px 30px;
     border-radius: 50%;
     color: rgb(2, 196, 176);
     font-size: 25px;
     align-items: center;
     text-align: center;
     justify-content: center;
     display: flex;
 }

 .about-background{
     background-image: url(/assets/img/about-img.jpg);
     background-repeat: no-repeat;
     background-position: center;
     min-height: 500px;

 }
/**!-----------------!SECTION About us---------------*/


/**!---------------------SECTION FACTS ------------------*/
.number-type{
    font-size: 50px;
    color: rgb(2, 196, 176);
}

.section-facts{
    margin: 50px 0;
    
    background-color: rgb(247,247,247);
    padding: 70px;
}

.section-facts__counter-items{
    margin: 60px;
    padding-bottom: ;
}
/**!-------------------- !SECTION FACTS --------------------*/


/**!----------------- SECTION SERVICE---------------*/
.service-items__items{
    border: 1px solid rgb(221, 219, 219);
    margin: 25px 20px;
    padding: 0 30px !important;
    font-size: 14px;
    background-color: rgb(253, 251, 251);
    
    height: 200px;
}

.section-service__service-items{
       margin-top: 70px;
       
}

.items-title{
    font-weight: bold;
    font-family: "Poppins",sans-serif;
    font-size: 17px;
    padding: 10px;
}

.service-icon::before{
    background-color: rgb(2, 196, 176);
    border-radius: 50%;
    padding: 15px 15px;
    font-size: 25px;
    color: white;
    margin-top: 20%;
}

.service-items__icon{
    margin-top: -20px;
    margin-left: -25px;
}

.items-title{
    margin-top: 15px;
}

.service-items__icon:hover .service-icon::before{
    border: 2px solid rgb(2, 196, 176);
    background-color: white;
    color: rgb(2, 196, 176);
    cursor: pointer;
}



/**!----------------- !SECTION SERVICE ---------------*/


/**!----------------- SECTION CALL ACTION ---------------*/
.section-call{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6) ), url(/assets/img/call-to-action-bg.jpg);
    height: 300PX;
    background-attachment: fixed;
}

.call-button{
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 5px 60px;
    border-radius: 40px;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    margin-top: 25px;
}

.call-title{
    font-family: "Poppins",sans-serif;
    font-weight: bold;
}

.call-para{
    font-family: "Poppins",sans-serif;
    font-size: 15px;
}

.call-button:hover{
    background-color: rgb(2, 196, 176);
    transition: all ease-in-out 0.3s;
    border-color: rgb(2, 196, 176);
}

/**!----------------- !SECTION CALL ACTION ---------------*/


/**!----------------- SECTION portfolio ---------------*/
.section-porfolio__image-container{
    overflow: hidden;
}

.section-porfolio{
    margin-top: 100px;
}

.section-porfolio__text-container{
    margin-bottom: 70px;
}

.section-porfolio__button-container{
    margin-bottom: 50px;
}

.simple-button{
    margin: 0 15px;
    border: none;
    background-color: rgb(2, 196, 176);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.hover-button{
    margin: 0 15px;
    border: none;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    color: gray;
}

.hover-button:hover{
    background-color: rgb(2, 196, 176);
    color: white;
    transition: all ease-in-out 0.2s;
}

.image-margin{
    height: 200px;
    overflow: hidden !important;
    margin-bottom: 15px;  
}

.image-margin:hover img{
    top: -30px;
}

.image-margin:hover .image-details{
    bottom: 0px;
}

.image-details{
    background-color: rgb(2, 196, 176);
    text-decoration: none;
    color: white;
    height: 50px;
    font-size: 14px;
    width: 100%;
    
    padding-left: 8px;
    font-family: "Poppins",sans-serif;
}

.image-margin img {
    position: absolute;
    top: 0;
    transition: all ease-in-out 0.4s;
}

.image-margin .image-details{
    position: absolute;
    bottom: -50px;
    transition: all ease-in-out 0.2s;
}
/**!----------------- !SECTION portfolio ----------------*/

/**!----------------- !SECTION TEAM -----------------*/
.section-team{
    margin-top: 150px;
}

.section-team__text-container{
    margin-bottom: 70px;
}

.team-member__person-details{
    margin-top: 50px;
}
.team-img{
    width: 210PX;
}

.social-icon{
    color: rgb(156, 154, 154); 
}

.social-icon:hover{
    color: rgb(2, 196, 176);
    text-decoration: none;
}

.member-heading{
    color: rgb(104, 103, 103);
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.member-para{
    font-style: italic;
    font-size: 14px;
    color: gray;
}
/**!----------------- !SECTION TEAM END ---------------*/


/**!----------------- !SECTION CONTACT US START ---------------*/

.section-contact-us__ifram{
    height: 300px;
    width: 100%;
}

/**!----------------- !SECTION CONTACT US END ---------------*/